#wp_grins img {cursor: pointer; cursor: hand;display:inline!important; height:1em;vertical-align: -0.1em!important;}
#wp_grins span.wp-smiley {cursor: pointer; cursor: hand;}
#wp_grins span.wpgs-hide {display: none!important;}